@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: "Poppins", sans-serif !important;
  overflow: auto;
  transition: all 0.3s ease;
}

input, input:focus, input:active, input:hover {
  outline: solid 1px #a3a3a3 !important;
}

.time{
  font-size: 11px !important;
  color: #969696 !important;
}